<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="">
	<meta name="author" content="Salim AlRawas">
	<link rel="icon" href="favicon.ico">
	<link href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/cerulean/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EmRcsPP774S9MOi4ywB+JXUWjYnBdyInMzG2XsC5siZEUpexqxOMJW358dCYEjPu" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" th:href="@{/css/master.css}">
	<title>eRegistrar System</title>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a style="padding-right: 2em;" class="navbar-brand" href="/">eRegistrar System : : : Student List</a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
			aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item" style="border-left: white 1px solid; padding-left: 2em; padding-right: 2em;">
					<a class="nav-link" href="/eregistrar/student/list">Students</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
				<span style="color:#fff;padding-left: 2em; padding-right: 1em;">Welcome, Guest</span>
				<!--<a style="color: #ffffff; margin-right: 0em;" class="nav-link" href="#">John Doe</a>-->
				<!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
				<a href="#" class="btn btn-secondary">Sign In</a>
			</form>
		</div>
	</nav>

	<div style="margin-top:1em;margin-bottom:1em;" class="container">
		<div>
			<span style="font-size: 2em; color: #32a5e7;">student is in our system</span>
			<span style="float:right;">
				<a class="btn btn-outline-success btn-lg" href="/eregistrar/student/new">Add a new student</a>
			</span>
		</div>


		<div style="font-size: 1em">
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">studentNumber</th>
						<th scope="col">firstName</th>
						<th scope="col">lastName</th>
						<th scope="col">cgpa</th>
						<th scope="col">admissionDate</th>
						<th scope="col">isInternational</th>
						<th scope="col">&nbsp;</th>
						<th scope="col">&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="student,iterStat : ${students}">
						<!--th:onclick="@{document.location='/eregistrar/student/edit/{studentId}'(studentId=${student.studentId})}" -->
						<th scope="row" th:text="${iterStat.count}+${'.'}"></th>
						<td th:text="${student.studentNumber}"></td>
						<td th:text="${student.firstName}"></td>
						<td th:text="${student.lastName}"></td>
						<td th:text="${student.cgpa}"></td>
						<td th:text="${student.admissionDate}"></td>
						<td th:text="${student.isInternational}"></td>
						<td><a
								th:href="@{'/eregistrar/student/edit/{studentId}'(studentId=${student.studentId})}">Edit</a>
						</td>
						<td>
							<a
								th:href="@{'/eregistrar/student/delete/{studentId}'(studentId=${student.studentId})}">Delete</a>
							<!--                        <a data-toggle="modal" data-target="#confirmDeleteBookModal" th:href="@{'/eregistrar/student/delete/' + ${student.studentId}}">Delete</a>-->
							<!--                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">-->
							<!--                            Launch demo modal-->
							<!--                        </button>-->
						</td>
					</tr>
					<tr th:if="${studentsCount < 1}">
						<td colspan="8" th:align="center">No student found</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="confirmDeleteBookModal" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">Confirm Delete</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Are you sure you want to delete this student data?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
					<button type="button" class="btn btn-primary">Yes</button>
				</div>
			</div>
		</div>
	</div>

	<p>&nbsp;</p>


	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
		integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
		crossorigin="anonymous"></script>
</body>

</html>